In [ ]:
# 하천망도
# http://data.nsdi.go.kr/dataset/12608
# made by Beans Im

In [8]:
import pandas as pd
import geopandas as gpd
import glob

In [7]:
date = '2021-12-23'
paths = glob.glob('C:/Users/sys02/Downloads/하천망도/국가 및 지방하천/W_*.shp')
# crs = epsg:5186
paths

['C:/Users/sys02/Downloads/하천망도/국가 및 지방하천\\W_FRST.shp',
 'C:/Users/sys02/Downloads/하천망도/국가 및 지방하천\\W_NATL.shp',
 'C:/Users/sys02/Downloads/하천망도/국가 및 지방하천\\W_SCND.shp']

In [26]:
tmp = gpd.read_file(paths[0], encoding = 'euc-kr')
tmp1 = gpd.read_file(paths[1], encoding = 'euc-kr')
tmp2 = gpd.read_file(paths[2], encoding = 'euc-kr')

In [30]:
tmp.head(3)

,CODE1,INDEXPAGE,LEVEL,NAME1,RIVLEN,UID,geometry
0,1016100.0,",5,13,15",지방1,한탄강,81.35,4.0,"POLYGON ((206586.648 600984.306, 206587.874 60..."
1,1015270.0,",43",지방1,청계천,3.67,12.0,"POLYGON ((204420.900 550422.570, 204424.490 55..."
2,1016240.0,",13,15",지방1,영평천,13.50,8.0,"POLYGON ((210085.719 604358.835, 210116.333 60..."

In [31]:
tmp1.head(3)

,CODE2,INDEXPAGE1,LEVEL1,NAME2,RIVLEN1,UID1,geometry
0,4000010.0,",201,203,219,221,241,243,261",국가,섬진강,173.30,64.0,"POLYGON ((218513.870 302267.214, 218596.211 30..."
1,2000010.0,"9,225,227,229,249",국가,낙동강,382.97,3.0,"POLYGON ((353024.544 440633.736, 353013.215 44..."
2,2000830.0,",119,135,137",국가,내성천,27.00,1.0,"POLYGON ((331977.317 445926.303, 331973.677 44..."

In [32]:
tmp2.head(3)

,INDEXPAGE2,LEVEL2,RIVLEN2,RIV_CD_1,RIV_NAM_1,UID2,geometry
0,",249",지방2,1.69,2027670.0,대리천,2949.0,"POLYGON ((382416.174 292320.818, 382246.896 29..."
1,",255",지방2,2.48,5021480.0,금곡천,3736.0,"POLYGON ((163772.731 259309.195, 163772.740 25..."
2,",255",지방2,1.90,5021500.0,성남천,3287.0,"POLYGON ((161965.565 258602.374, 161965.679 25..."

In [34]:
tmp = tmp[['LEVEL', 'NAME1', 'RIVLEN', 'geometry']].rename(columns = {'NAME1' : 'NAME'})
tmp1 = tmp1[['LEVEL1', 'NAME2', 'RIVLEN1', 'geometry']].rename(columns = {'LEVEL1' : 'LEVEL', 'NAME2' : 'NAME', 'RIVLEN1' : 'RIVLEN'})
tmp2 = tmp2[['LEVEL2', 'RIV_NAM_1', 'RIVLEN2', 'geometry']].rename(columns = {'LEVEL2' : 'LEVEL', 'RIV_NAM_1' : 'NAME', 'RIVLEN2' : 'RIVLEN'})
df = pd.concat([tmp, tmp1, tmp2])

In [41]:
# NAME은 하천이름, 
# RIVLEN은 하천길이로 추정되고 
# RIV_CD는 하천코드, 
# UID는 관리코드로 생산기관에서 관리의 편의에 맞게 작성한 것으로 추정

In [42]:
# 좌표계 변환
df = df.to_crs('epsg:5179')
df.head()

,LEVEL,NAME,RIVLEN,UID,geometry
0,지방1,한탄강,81.35,4.0,"POLYGON ((962690.538 2001066.468, 962691.764 2..."
1,지방1,청계천,3.67,12.0,"POLYGON ((960255.430 1950536.348, 960259.023 1..."
2,지방1,영평천,13.50,8.0,"POLYGON ((966206.343 2004420.846, 966237.372 2..."
3,지방1,양양남대천,16.60,3.0,"POLYGON ((1100448.725 2012442.137, 1100475.215..."
4,지방1,양양남대천,16.60,3.0,"POLYGON ((1098600.518 2008509.779, 1098612.524..."

In [43]:
# python version이 낮을 경우 protocol = 4로 저장된 pickle file만 열림
df.to_pickle('river_data_' + date + '.pkl.gz', compression = 'gzip', protocol = 4)